<!DOCTYPE html>
<html lang="pt-Br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Layouts </title>
</head>
<body>

	<h1>PROJETO WEBSITE</h1>
	<h3>Formulário</h3>
	<form>
		<input  id="email" type="email" placeholder="seuemail@gmail.com">
		<input id="nome" type="text" placeholder="Seu Nome">
		<button type="submit">ENVIAR</button>
	</form>
	{{{body}}}
</body>
</html>