<h1>Artigos que Informam e Inspiram</h1>

<div class="bloco"> 
  <div class="card_bloco">
    <article class="card_artigo">
      <img src="/midia/imagem1.png" class="card_img">

      <div class="card_info">
        <span class="card_desc"> Para um futuro mais justo.</span>
        <h2 class="card_titulo">O Que é Igualdade de Gênero?</h2>
        <a href="#" class="card_botao">Ir Para o Artigo</a>
      </div>
    </article>

    <article class="card_artigo">
      <img src="/midia/imagem2.jpg" class="card_img">

      <div class="card_info">
        <span class="card_desc">A realidade do feminicídio, e como reconhecer um relacionamento abusivo.</span>
        <h2 class="card_titulo">Violência Contra Mulheres</h2>
        <a href="#" class="card_botao">Ir Para o Artigo</a>
      </div>
    </article>

    <article class="card_artigo">
      <img src="/midia/imagem3.jpg" class="card_img">

      <div class="card_info">
        <span class="card_desc">Sobre a diversidade de identidades de gênero e orientação sexual.</span>
        <h2 class="card_titulo">O Que é LGBTQIPNA+?</h2>
        <a href="#" class="card_botao">Ir Para o Artigo</a>
      </div>
    </article>
  </div>
</div>


<!-- <div class="artigo">
    <p><a href="#"> O QUE É IGUALDADE DE GÊNERO?</a><br>
        Confira nesse artigo o conceito de Igualdade de Gênero.
    </p>
</div>
<div class="artigo">
    <p><a href="#">VIOLÊNCIA CONTRA AS MULHERES E FEMINICÍDIO</a><br>
        Confira nesse artigo o conceito de Violência contra as mulheres, Feminicído e também sinais de um relacionamento abusivo.
    </p>
</div>
<div class="artigo">
    <p><a href="#">O QUE É LGBTQIPNA+?</a><br>
        Confira nesse artigo o significado da sigla e a diversidade de identidades de gênero e orientação sexual.
    </p>
</div>!> -->