<h1>Artigos que Informam e Inspiram</h1>

<div class="bloco"> 
  <div class="card_bloco">
    <article class="card_artigo">
      <img src="/midia/imagem1.png" class="card_img">

      <div class="card_info">
        <span class="card_desc"> Para um futuro mais justo.</span>
        <h2 class="card_titulo">O Que é Igualdade de Gênero?</h2>
        <a href="#" class="card_botao">Ir Para o Artigo</a>
      </div>
    </article>

    <article class="card_artigo">
      <img src="/midia/imagem2.jpg" class="card_img">

      <div class="card_info">
        <span class="card_desc">A realidade do feminicídio, e como reconhecer um relacionamento abusivo.</span>
        <h2 class="card_titulo">Violência Contra Mulheres</h2>
        <a href="#" class="card_botao">Ir Para o Artigo</a>
      </div>
    </article>

    <article class="card_artigo">
      <img src="/midia/imagem3.jpg" class="card_img">

      <div class="card_info">
        <span class="card_desc">Sobre a diversidade de identidades de gênero e orientação sexual.</span>
        <h2 class="card_titulo">O Que é LGBTQIPNA+?</h2>
        <a href="#" class="card_botao">Ir Para o Artigo</a>
      </div>
    </article>
  </div>
</div>