<h1>ARTIGOS</h1>

<div class="artigo">
    <p><a href="#"> O QUE É IGUALDADE DE GÊNERO?</a><br>
        Confira nesse artigo o conceito de Igualdade de Gênero.
    </p>
</div>
<div class="artigo">
    <p><a href="#">VIOLÊNCIA CONTRA AS MULHERES E FEMINICÍDIO</a><br>
        Confira nesse artigo o conceito de Violência contra as mulheres, Feminicído e também sinais de um relacionamento abusivo.
    </p>
</div>
<div class="artigo">
    <p><a href="#">O QUE É LGBTQIPNA+?</a><br>
        Confira nesse artigo o significado da sigla e a diversidade de identidades de gênero e orientação sexual.
    </p>
</div>