<h1>Listar Cadastros</h1>


{{#each cadastros}}
	ID:{{dataValues.id}}<br>
	Nome:{{dataValues.nome}}<br>
	E-mail:{{dataValues.email}}<br>
	Cadastrado:{{#formatDate dataValues.createdAt}}{{/formatDate}}<br><br>
	<a href="/del-cadastro/{{dataValues.id}}"><button>Apagar</button></a>
	<hr>
{{/each}}
