<H1>Home</H1>

<div class="home-info">
<h3>SEJAM BEM-VINDES!</h3>
<p>Somos um projeto de website que possui o intúito de informar de uma forma dinâmica sobre a temática da Igualdade de Gênero. <br>Fique a vontade para explorar o site; Possuímos Artigos diversos sobre a luta feminina e a comunidade LGBTQIA+, e também um Quiz para testar seu conhecimento.</p>
</div>
<div class="home-info">
<h3>O QUE É A ODS 5</h3>
<p>A ODS 5 faz parte dos 13 Objetivos de Desenvolvimento Social criados pela ONU. <br>A ODS número 5 engloba metas acerca da diminuição da Igualdade de Gênero, e dentre suas metas, não só a equidade entre as mulheres e homens, há também menção à luta contra a intolerância de orientação sexual e identidade de gênero.</p>

</div>