
<html>
    <body>
        <H1>Log-In</H1>
        <form class="form-login" action="/login-validator" method="POST">

            <label for="nomeLog">Insira nome de usuário</label>
            <input type="text" id="nomeLog" name="nomeLog" required>

            <label for="senhaLog">Insira senha</label>
            <input type="password" id="senhaLog"name="senhaLog"required>

            <button type="submit" class="btn btn-outline-info">Logar</button>
    
        </form>

        <script src="/js/login.js"></script>
    </body>

</html>