<h1>Login</h1>

<form class="form-login" action="/login-valid" method="POST"> 
    <input type="text" name="nomeLog" required>
        <label for="nome">Nome de Usuário</label>
    <input type="password" name="senhaLog" required>
        <label for="senha">Senha</label>
    <button class="btn btn-outline-info" type="submit">Logar</button>

</form>