<h1>Listar Pontuacao</h1>


{{#each pontuacoes}}
	ID:{{dataValues.id}}<br>
	Quiz:{{dataValues.quiz}}<br>
	Pontuação:{{dataValues.pontuacao}}<br>
	Cadastrado:{{#formatDate dataValues.createdAt}}{{/formatDate}}<br><br>
	<a href="/del-pontucao/{{dataValues.id}}"><button>Apagar</button></a>
	<hr>
{{/each}}

