<h1>Listar Pontuacao</h1>


{{#each pontuacoes}}
	ID:{{dataValues.id}}<br>
	<!--Quiz:{{dataValues.quiz}} -->
	Pontuação:{{dataValues.pontuacao}}<br>
	Cadastrado:{{#formatDate dataValues.createdAt}}{{/formatDate}}<br><br>
	<a href="/del-pontuacao/{{dataValues.id}}"><button>Apagar</button></a>
	<hr>
{{/each}}

