<h1>Listar Pontuação</h1>

<div class="container">
	<div class="valores">
		{{#each pontuacoes}}
		<div class="pont_individ">
			ID: {{dataValues.userId}}<br>
			Pontuação: {{dataValues.pontuacao}}<br>
			Cadastrado: {{#formatDate dataValues.createdAt}}{{/formatDate}}<br><br>
			<a href="/del-pontuacao/{{dataValues.pontuacao}}"><button class="btn btn-outline-danger">Apagar</button></a>
		</div>
		{{/each}}
	</div>
</div>
