<h1>Listar Pontuacao</h1>

<div class="container":>
	{{#each pontuacoes}}
		ID:{{dataValues.userId}}<br>
		Pontuação:{{dataValues.ponto}}<br>
		Cadastrado:{{#formatDate dataValues.createdAt}}{{/formatDate}}<br><br>
		<a href="/del-pontuacao/{{dataValues.userId}}"><button class="btn btn-outline-danger">Apagar</button></a>
		<hr>
	{{/each}}
</div>
