*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    background-color:rgb(125, 0, 96);
    font-family:Montserrat, Helvetica, sans-serif;
    min-height:100vh;
}


.quiz-container{
    background-color:white;
    border-radius:8px;
    display:flex;
    width:50%;
    font-size:20px;
    flex-direction:column;
    justify-self:center;
    padding:15px;
    margin:20px;
    box-shadow: rgba(0, 0, 0, 0.347) 0px 0px 10px;
}

.pergunta-container ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pergunta-container h2{
    margin: 20px;
    text-align:center;
    font-size:40px;
    color:rgb(98, 78, 97);
}

ul {
    list-style:none;
    padding:0;
}
ul li{
    margin: 10px;
}


#botao-resultado{
    font-size:20px;
    display:flex;
    justify-self:center;
}


#pontuacao{

    border:5px;
    border-radius:8px;
    padding:10px;
    min-height:20%;
    max-width:20%;
    text-align:center;
    font-size:15px;

}

.botao-resposta{
    background-color:rgb(255, 255, 255);
    color: rgb(98, 78, 97);
    border:2px;
    border-radius:8px;
    padding:15px;
    cursor: pointer;
    font-size:25px;
    font-family:Montserrat, Helvetica, sans-serif;
    margin:10px;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.347) 2px 5px 2px 2px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.botao-resposta:hover{
    background-color:#ffb3d5;
    color:rgb(226, 97, 134);
    box-shadow: rgb(255, 150, 180) 2px 5px 2px 2px;
    transform: translateY(-5px);
}

.botao{
    color:rgb(98, 78, 97);
    background-color:#93d0ff;
    display:block;
    width:100%;
    border:none;
    text-align:center;
    padding:10px;
    font-size: 20px;
    font-family:Montserrat, Helvetica, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.347) 2px 5px 2px 2px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.botao:hover{
    background-color:#bdeaff;
    border-color: #bdeaff;
    box-shadow: rgba(51, 96, 133, 0.347) 2px 5px 2px 2px;
    transform: translateY(-5px);
}

#resultado h2{
    text-align:center;
    display:flex;
    flex-direction:column;
    font-weight:bold;
    color: rgb(98, 78, 97);
}

#pontuacao{
    font-size:50px;
    display:flex;
    align-self:center;
    margin:10px;
    color:rgb(98, 78, 97);
    font-weight:bold;
    background-color: #93d0ff;
    width:10%;
}