*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    background-color:rgb(125, 0, 96);
    font-family:Arial, Helvetica, sans-serif;
    min-height:100vh;
}


.quiz-container{
    background-color:white;
    border-radius:8px;
    display:flex;
    width:50%;
    font-size:20px;
    flex-direction:column;
    justify-self:center;
    padding:15px;
    margin:20px;
}


.pergunta-container h2{
    margin: 20px;
    text-align:center;
    font-size:40px;
    
}

ul {
    list-style:none;
    padding:0;
}
ul li{
    margin: 10px;
}


#botao-resultado{
    font-size:20px;
    display:flex;
    justify-self:center;
}


#pontuacao{

    border:5px;
    border-radius:8px;
    padding:10px;
    min-height:20%;
    max-width:20%;
    text-align:center;
    font-size:15px;

}

.botao-resposta{
    background-color:rgb(255, 255, 255);
    border:2px;
    border-radius:8px;
    padding:15px;
    cursor: pointer;
    font-size:25px;
    margin:10px;
    width:100%;
    box-shadow: rgb(235, 201, 218) 2px 5px 2px 2px;
    
}

.botao-resposta:hover{
    background-color:rgb(251, 128, 159);
    color:rgb(125, 0, 61);
    box-shadow: rgb(235, 107, 143) 2px 5px 2px 2px;
}

.botao{
    color:white;
    background-color:black;
    display:block;
    width:100%;
    border:none;
    text-align:center;
    padding:10px;
    font-size: 20px;
}

#resultado h2{
    text-align:center;
    display:flex;
    flex-direction:column;
    font-weight:bold;
}

#pontuacao{
    font-size:50px;
    display:flex;
    align-self:center;
    margin:10px;
    color:pink;
    font-weight:bold;
    background-color:rgb(125, 0, 96);
    width:10%;
}