body{
    background-color:rgb(80, 51, 169);
}


.quiz-container{
    background-color:white;
    padding:20px;
    border-radius:5px;
    max-width: 500px;
    width:100%;
}

.botao-resposta{
    background-color:yellow;
    border-radius:8px;
    font-size:5px;
    width:100%;
}

.botao{
    color:white;
    background-color:black;
    display:block;
    width:100%;
    margin-top:20px;
}

