*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background: linear-gradient(90deg, #ffb3d5, #b2deff);
    font-family:Arial, Helvetica, sans-serif;
    min-height:100vh;
    gap:40px;
    display: flex;
    flex-direction: column;
}


input{
    font-size: 15px;
    border-radius:8px;
    border: 2px solid rgb(182, 167, 181);
    align-self: center;
    text-align:center;
    width: 80%;
}

label{
    color:rgb(125, 114, 124);
    font-weight:bold;
    text-align:center;
    margin-bottom: 5px;
}

/*CSS Navbar*/

.navbar{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
}

.container-fluid{
    display: flex;
    align-items: center;
    gap: 40px;
    width: auto;
}

.navbar-nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.navbar-brand img{
    width: 5rem;
}

.nav-link:hover{
    color: #93d0ff;
}

/*CSS Artigos*/

.bloco{
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 3.5rem;
}

.card_bloco {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.5rem;
}

.card_artigo{
    position: relative;
}

.card_img{
    width: 428px;
    border-radius: 1.5rem;
    box-shadow: rgb(0, 0, 0, 0.1) 2px 2px 2px 2px;
}

.card_info{
    font-family: Montserrat, "sans-serif";
    width: 280px;
    background-color: white;
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla (0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -4.5rem;
    left: 1rem;
    right: auto;
    margin-inline: 0;
    box-shadow: rgb(0, 0, 0, 0.1) 2px 2px 2px 2px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card_info:hover{
    transform: translateY(-5px);
    box-shadow: rgb(0, 0, 0, 0.2) 2px 2px 2px 2px;
}

.card_desc{
    display: block;
    font-size: .8rem;
    margin-bottom: .25rem;
}

.card_titulo{
    font-size: 1rem;
}

.card_botao{
    text-decoration: none;
    color: #679dc6;
    font-size: .8rem;
}

.card_botao:hover{
    color: #91c6ee;
}

.home-info{
    font-family: Montserrat, "sans-serif";
    font-size:20px;
    background-color:white;
    border-radius:10px;
    display:flex;
    justify-self:center;
    width:60%;
    padding:30px;
    margin:35px;
    text-align:center;
    box-shadow: rgba(81, 64, 80, 0.441) 2px 5px 2px 2px;

}

h1, h4{
    color:white;
    font-family: Montserrat, sans-serif;
    font-weight:bold;
    display:flex;
    justify-content:center;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.3);
}

h3{
    padding:10px;
    font-size:25px;
    margin:5px;
    width:55%;
    display:flex;
    align-self:center;
}

button{
    border-radius:10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


.form-cadastro, .form-login{

    font-family: Montserrat, sans-serif;
    font-size:20px;
    background-color:rgba(255, 255, 255, 0.9);
    border-radius:8px;
    display:flex;
    flex-direction:column;
    justify-self:center;
    width:30%;
    padding:25px;
    margin:20px;
    box-shadow: rgba(0, 0, 0, 0.347) 2px 2px 2px 2px;

}

.btn.btn-outline-info {
    font-weight: bold;
    width: 50%;
    align-self: center;
    color: #93d0ff;
    border-color: #93d0ff;
    margin:10px;
}

.btn.btn-outline-info:hover {
    background-color: #93d0ff;
    color: rgb(98, 78, 97);
}

/*valores de cadastro e pontuações a ser exibidos*/
.valores{
    font-family: Montserrat, sans-serif;
    font-size:20px;
    border-radius:10px;
    display:flex;
    flex-flow:wrap;
    justify-content:flex-start;
    column-gap:20px;
    row-gap:20px;
    padding:20px;
    margin:20px;
}

.valores .cadastro_individual{
    width: calc(33.333% - 20px);
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.347) 0px 0px 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.valores .cadastro_individual:hover{
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px;
}

.btn-outline-primary, .btn-outline-danger {
    margin-top: 10px;
    width: 100%;
}

.btn-outline-primary{
    color: #7dbded;
    border-color: #93d0ff;
}

.btn-outline-primary:hover {
    background-color: #93d0ff;
    border-color: #93d0ff;
    color: rgb(98, 78, 97);
}

/*CSS Footer*/

footer{
    background-color: rgba(255, 255, 255, 0.8);
    font-family: Montserrat, sans-serif;
}